{% assign footer = lang.footer %}
<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3>{{ footer.maintained_by }}</h3>
      <p><a href="https://github.com/EricStoneChina">EricStoneChina</a></p>
      <p><a href="mailto:EricStone2009@163.com">{{ footer.feedback }}</a></p>
    </div>
    <div class="footer-section">
      <h3>{{ footer.collaboration_log }}</h3>
      <p><a href="https://github.com/KCISEastCampus/Pages/commits/main/">查看提交历史</a></p>
    </div>
    <div class="footer-section">
      <h3>关于</h3>
      <p>{{ footer.school_rights }}</p>
    </div>
    <div class="footer-stats">
      <img src="https://hitscounter.dev/api/hit?url=kcisec.site&label=KCISEC%E6%A0%A1%E5%9B%AD%E7%BD%91%E7%AB%99&icon=broadcast-pin&color=%23198754&message=&style=flat&tz=localtime" alt="访问统计">
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 {{ footer.copyright_org }}. {{ footer.all_rights_reserved }}.</p>
  </div>
</footer>
