{% assign footer = lang.footer %}
<footer>
  <div class="footer-content">
    <p>&copy; 2025 {{ footer.copyright_org }}. {{ footer.all_rights_reserved }}.</p>
    <p>{{ footer.school_rights }}.</p>
    <p>
      {{ footer.maintained_by }}: <a href="https://github.com/EricStoneChina">EricStoneChina</a>
      <a href="mailto:EricStone2009@163.com">{{ footer.feedback }}</a><br><br>
      <img src="https://hitscounter.dev/api/hit?url=kcisec.site&label=KCISEC%E6%A0%A1%E5%9B%AD%E7%BD%91%E7%AB%99&icon=broadcast-pin&color=%23198754&message=&style=flat&tz=localtime">
    </p>
  </div>
</footer>
