{% assign lang = site.data.lang[page.language] %}
<link rel="preconnect" href="https://fonts.gstatic.com/">
<meta charset="UTF-8">
<title>{{ lang.page_title }}</title>
<meta name="description" content="{{ lang.page_description }}">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/font.css">
<link rel="stylesheet" href="/assets/css/tables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
