/*
* im not very good at css pls dont blame me
* -- idadwind
*/

:root {
  /* blue */
  --primary-color: #009fa8;
  /* purple */
  --secondary-color: #920783;
  --secondary-color-hover: #bb64b2;
  /* gold */
  --primary-gradient-color: #CBBE00;
  --primary-gradient-color-hover: #eadb02;
  --secondary-gradient-color: #F5E979;

  --primary-text-color: #333;
  --secondary-text-color: #ffffff;
  --tetriary-text-color: #337ab7;
  --background-color: #f4f4f4;

  --theme-blue: #004098;
  --theme-dark-blue: #0099D9;
  --theme-green: #6CBB5A;
  --theme-dark-green: #009140;
  --theme-orange: #FAC03D;
  --theme-dark-orange: #F39800;
  --theme-pink: #EE869A;
  --theme-dark-pink: #B60066;

  --theme-gold: #BE8915;
  --theme-silver: #C9CACA;
}

* {
  transition: 0.5s;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  color: var(--secondary-text-color);
  padding: 20px;
  text-align: center;
  position: relative;
}

a {
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 0;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  justify-content: space-between;
  height: 3rem;
}

nav img {
  display: block;
  max-height: 100%;
}

nav span {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

nav .logo-container {
  display: flex;
  align-items: center;
  max-height: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 1rem;
}

nav .logo-container>a {
  height: 100%;
}

nav .links-container {
  margin: auto 0;
}

nav .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  max-height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

nav a {
  text-decoration: none;
}

#collapsible-btn,
buttonlink {
  text-decoration: none;
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 1.5rem;
  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
}

nav buttonlink {
  margin-top: 0;
}

.secondary-button-link {
  color: var(--secondary-text-color);
  background-color: var(--primary-gradient-color);
}

buttonlink:hover {
  transform: scale(1.05);
  background-color: var(--secondary-color-hover);
}

.secondary-button-link:hover {
  background-color: var(--primary-gradient-color-hover);
}

.tetriary-button-link {
  color: var(--secondary-text-color);
  background-color: var(--theme-pink);
}

.quaternary-button-link {
  background-color: var(--theme-green);
  color: var(--secondary-text-color);
}

#switch-language-button {
  color: var(--secondary-text-color);
  background-color: var(--primary-gradient-color);
}

#switch-language-button:hover {
  background-color: var(--primary-gradient-color-hover);
}

.page-content {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 2rem;
}

.box-shadow {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--primary-color);
  color: #ecf0f1;
  text-align: center;
  padding: 1rem;
  height: 1rem;
  margin-top: auto;
}

.bottom-text {
  background-color: var(--secondary-text-color);
  padding: 20px;
  margin: 0 0 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Mobile Styles */
@media screen and (max-width: 850px) {
  buttonlink {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    text-align: center;
  }

  #switch-language-button {
    margin-bottom: 1rem;
  }

  nav buttonlink {
    margin: 0.5rem 1rem;
    width: auto;
  }

  /* Hamburger Menu */
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;

  }

  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-text-color);
    margin: 5px 0;
  }

  .links-container {
    display: flex;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 5rem;
    left: 0;
  }

  .links-container.active {
    max-height: 100vh;
  }

  .logo-container {
    height: 100%;
    justify-content: space-between;
  }

  .title-container {
    width: 100%;
  }

  .active>.line#line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .active>.line#line2 {
    opacity: 0;
  }

  .active>.line#line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
