@-webkit-viewport {
  width: device-width;
  zoom: 1.0
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0
}

@-o-viewport {
  width: device-width;
  zoom: 1.0
}

@viewport {
  width: device-width;
  zoom: 1.0
}

html {
  overflow-y: auto
}

img,
audio,
video,
canvas {
  max-width: 100%
}

.container {
  max-width: 40em;
  width: 88%;
  margin-left: auto;
  margin-right: auto
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.529411765em;
  overflow-x: auto;
  display: block;
}

th, td {
  padding: .470588235em;
  text-align: left;
  border-top: .071428571em solid #b8b8b8;
  vertical-align: top;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

thead:first-child tr th,
thead:first-child tr td {
  border-top: 0;
}

tbody+tbody {
  border-top: 0.142857143em solid #b8b8b8;
}

.table-condensed th,
.table-condensed td {
  padding: .294117647em;
}

.table-bordered {
  border: .071428571em solid #b8b8b8;
  border-collapse: separate;
  border-radius: .470588235em;
}

.table-bordered th+th,
.table-bordered td+td,
.table-bordered th+td,
.table-bordered td+th {
  border-left: .071428571em solid #b8b8b8;
}

.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: .470588235em 0 0 0;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  border-radius: 0 .470588235em 0 0;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 .470588235em;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 .470588235em 0;
}

@media (max-width: 600px) {
  table, th, td {
    font-size: 0.8em;
  }
}
