/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9fafc;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

/* General list styles */
ul, ol {
    margin: 20px 0;
    padding-left: 20px;
    list-style-position: inside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

/* List items */
li {
    background-color: #fff;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-left: 3px solid #3498db;
    transition: background-color 0.2s, box-shadow 0.2s;
}


/* Centered title */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-weight: 600;
    color: #2c3e50;
}

/* Section headings */
h2 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #444;
}

/* Links */
a {
    text-decoration: none;
    color: #3498db;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover {
    color: #217dbb;
    border-bottom: 1px solid #217dbb;
}

/* Buttons */
.return-button, .archived-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.95em;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 15px;
}

.return-button:hover, .archived-button:hover {
    background-color: #217dbb;
    transform: scale(1.02);
    color: white;
}

/* Footer */
footer {
    background-color: #f7f9fb;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
    border-top: 1px solid #ddd;
}

/* Image container */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Optional caption for the image */
.image-container figcaption {
    font-size: 0.9em;
    color: #666;
    margin-top: 8px;
}

p {
    font-size: 16px; /* 调整文字大小 */
    line-height: 1.8; /* 提高行间距，增强可读性 */
    text-align: justify; /* 文字对齐两端 */
    border-radius: 5px; /* 圆角处理 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 平滑过渡效果 */
}
