body {
    font-family: 'Noto Sans SC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease;
}

header {
    background-color: #3c87d3;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #5299e0;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a,
.button-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    background-color: #4069c1;
    /* 调整为柔和的蓝色 */
    border: 2px solid #4069c1;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.top-button-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    background-color: #4056c1;
    /* 调整为柔和的蓝色 */
    border: 2px solid #40bfc1;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.inside-button-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    background-color: #d25656;
    border: 2px solid #d25656;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav a:hover,
.button-link:hover,
.top-button-link:hover {
    background-color: #91a9de;
    /* 调整为更深的颜色 */
    color: #ecf0f1;
    transform: scale(1.05);
}

.inside-button-link:hover {
    background-color: #dc7c7c;
    /* 调整为更深的颜色 */
    color: #ecf0f1;
    transform: scale(1.05);
}

section {
    padding: 20px 0 0;
    color: #333;
    max-width: 1100px;
    margin: 0 auto;
    animation: fadeIn 0.5s ease-in-out;
    /* 更长时间的淡入效果 */
}

.convenient-links {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-button-link,
.button-link,
.inside-button-link {
    border: none;
    margin: 10px 5px;
}

footer {
    background-color: #6299cf;
    color: #ecf0f1;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-text {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 0 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #68839e;
    margin-bottom: 10px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Mobile Styles */
@media screen and (max-width: 500px) {
    nav {
        flex-direction: column;
    }

    nav a,
    .button-link,
    .top-button-link {
        margin: 5px 0;
        width: 90%;
        text-align: center;
    }

    footer {
        padding: 20px 0;
    }

    img {
        width: 100%;
        max-width: 350px;
    }
}