<!DOCTYPE html>
<html lang="{{ page.language }}">

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
  {% include hero.html %}
  <div class="page-content">
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="/assets/js/main.js"></script>
  <script>
    load_switch_language_btn('{{ page.language }}');
    load_ui_toggle_btn('{{ page.language }}');
    bind_onclick_btn();
    if (typeof initHeroCardsAnimation === 'function') initHeroCardsAnimation();
    if (typeof initHeroAutoHide === 'function') initHeroAutoHide();
  </script>
</body>

</html>
