<!DOCTYPE html>
<html lang="{{ page.language }}">

<head>
  {% include head.html %}
</head>

<body class="legacy">
  {% include header.html %}
  <div class="page-content box-shadow">
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="/assets/js/main.js"></script>
  <script>
  load_switch_language_btn('{{ page.language }}');
  load_ui_toggle_btn('{{ page.language }}');
  bind_onclick_btn();
  if (typeof initHeroAutoHide === 'function') initHeroAutoHide();
  </script>
</body>

</html>